.login {
	margin: auto;
}

.fadeOutWarning {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

.nowPlaying p,
.upNext p {
	margin: 0;
}

.upNext {
	margin-top: 16px;
}

.song {
	font-size: 1.5rem;
}

.time {
	font-size: 1.25rem;
}

.banner {
	position: relative;
}

.banner {
	background-image: url("/banner.png");
	background-size: 100%;
	color: white;
	-webkit-text-stroke: 6px white;
	filter: blur(0.5px);
}

.banner p {
	-webkit-text-stroke: 2px white;
	font-weight: 400;
	padding-left: 4px;
	margin-bottom: -6px;
}

.banner h1 {
	font-weight: 400;
}

.title span {
	-webkit-text-stroke: 4px white;
}

.title {
	padding-left: 8px;
	display: flex;
}
