.entry {
	display: flex;
	gap: 8px;
}

.entry > input {
	min-width: 20ch;
	field-sizing: content;
}

input[type="checkbox"] {
	min-width: 32px;
}

input[type="color"] {
	min-width: 64px;
}

input[type="number"] {
	min-width: 10ch;
	field-sizing: fixed;
}

select {
	font-size: 1.5rem;
}

.entry button {
	width: max-content;
}
